APP_NAME="mini-RAG"
APP_VERSION="0.1"

OPENAI_API_KEY=""

FILE_ALLOWED_TYPES=["text/plain","application/pdf","image/jpeg","image/png","image/webp","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000

# MONGODB_URL="mongodb://admin:admin111@localhost:27007"
# MONGODB_DATABASE="mini-rag"


POSTGRES_USERNAME=""
POSTGRES_PASSWORD=""
POSTGRES_HOST="localhost"
POSTGRES_PORT=5000
POSTGRES_MAIN_DATABASE=""
# ======================= SQL =======================

SQL_PROVIDER="sqlite"
SQL_DATABASE_URL="sqlite:///assets/database/sql/ecommerce.db"
SQL_MAX_ROWS=100
SQL_MAX_RETRIES=2

#===========================LLM Config==========================
GENERATION_BACKEND="OPENAI"
EMBEDDING_BACKEND="HUGGINGFACE"


OPENAI_API_KEY=""
OPENAI_API_URL="http://localhost:11434/v1/"
COHERE_API_KEY=""
HUGGINGFACE_API_KEY=""

GENERATION_MODEL_ID_LITERAL=["gpt-3.5-turbo", "gpt-4", "qwen2.5-coder:7b","qwen2.5:7b-instruct"]
GENERATION_MODEL_ID="qwen2.5:7b-instruct"  
EMBEDDING_MODEL_ID="intfloat/multilingual-e5-base"
EMBEDDING_MODEL_SIZE=768

INPUT_DEFAULT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1



# =========================== VLM ===========================

VLM_BACKEND="OLLAMA"
OLLAMA_API_KEY="ollama"
OLLAMA_API_URL="http://localhost:11434/v1/"
OLLAMA_NUM_CTX=2048
VLM_MODEL_ID="qwen2.5vl:3b"
VLM_DEFAULT_MAX_OUTPUT_TOKENS=256
VLM_DEFAULT_TEMPERATURE=0
# ======================= OCR =======================

OCR_BACKEND="PADDLEOCR"
OCR_LANGS=["ar","en"]
#==============================Vector DB config====================
VECTOR_DB_BACKEND_LITERAL=["QDRANT", "PGVECTOR"]
VECTOR_DB_BACKEND="PGVECTOR"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="cosine"
VECTOR_DB_PGVEC_INDEX_THRESHLOD=300 
#==============================Video config====================
VIDEO_PROVIDER=youtube
VIDEO_DEFAULT_CHUNK_SIZE=1200
VIDEO_DEFAULT_CHUNK_OVERLAP=200
VIDEO_DEFAULT_RETRIEVAL_LIMIT=10
VIDEO_DEFAULT_GENERATION_MAX_TOKENS=2000
VIDEO_DEFAULT_GENERATION_TEMPERATURE=0.1

#==============================Vector DB config====================
PRIMARY_LANG="en"
DEFAULT_LANG="en"

# ======================= Reranker =======================

RERANKER_PROVIDER="huggingface"
RERANKER_MODEL_ID="BAAI/bge-reranker-v2-m3"
